<%= form_with(model:@blog, local:true, url:choose_new_or_edit )do |f|%>
  <% if @blog.errors.any? %>
  <div>
    <h2><%= pluralize(@blog.errors.count, "error") %></h2>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="new_content" align="center">
    <%= f.text_field :content , class:"input_field", placeholder:"What's in your mind?" %>
    <%= image_tag(@blog.image.url)if @blog.image && @blog.image.url%>
    <%= f.file_field :image%>
    <%= f.hidden_field :image_cache %>
    <%= f.submit "Post", class:"post_buttom" %>
  </div>
<% end %>
